<!DOCTYPE html>
<html>
<head>
	<title>table page</title>
</head>
<body>
	<center><h2>My Table</h2></center>
	<center>
	<table border="2" bgcolor="blue" bordercolor='yellow'>
		
		<tr>
			<th>FirstName</th>
			<th>LatstName</th>
			<th>Age</th>
			<th>Gender</th>
		</tr>
		<tr>
			<td>siri</td>
			<td>Tamada</td>
			<td>22</td>
			<td>Female</td>
		</tr>
		<tr>
			<td>giri</td>
			<td>Tamada</td>
			<td>20</td>
			<td>Male</td>
		</tr>

	</table>
	</center>
</body>
</html>